{% include "head.html" %}

{% block content %}
<div id="page-wrapper" class="p-4">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">{{ page_title }}</h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <label for="user-language"></label>
                    <select class="form-control" id="user-language">
                        <option value="Python2.7">Python2.7</option>
                        <option value="Python3.8" selected>Python3.8</option>
                    </select>
                    </div>
                </div>
                <div class="card-body">
                    <label for="user-code"></label>
                    <textarea class="form-control" id="user-code" rows="10" cols="100">
def foo(x):
    for i in range(x):
        print("*"*i)
foo(10)
                    </textarea>
                </div>
                <div class="card-footer">
                    <input class="btn btn-outline-danger" type="button" id="btn-user-code-save" value="Save">
                    <input class="btn btn-outline-primary" type="button" id="btn-user-code-run" value="Run" style="float: right">
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-yellow">
                <div class="card-header">
                    <h5 class="card-title mb-0">Run Result</h5>
                </div>
                <div class="card-body bg-white text-dark">
                    <pre id="user-code-run-result"></pre>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /#page-wrapper -->
</div>
</div>
{% endblock %}


{% include "footer.html" %}

{% block script_content %}

{% load static %}

{% csrf_token %}
<script>
    const CSRF_TOKEN = $("input[name=csrfmiddlewaretoken]").val();

    $("input#btn-user-code-run").click(function () {
        $.ajax({
            type: 'POST',
            url: '{% url 'post-docker-code-run' %}',
            accept: 'application/json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', CSRF_TOKEN)
            },
            data: {
                user_language: document.getElementById("user-language").value,
                user_code: document.getElementById("user-code").value
            },
            statusCode: {
                200: function (response) {
                    console.log(response);
                    let result = response.data.output + "<br>" + response.data.error;
                    $("pre#user-code-run-result").html(result)
                },
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR)
                console.error(textStatus)
                console.error(errorThrown)
            }
        });
    });
</script>
{% endblock %}